.hero_wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    flex-wrap: wrap;
    padding: 0 15px;
    .hero_img,
    .hero_text{
        width: 50%;
        text-align: left;
        @media (max-width: $mobile){
            width: 100%;
            text-align: left;
            padding: 15px 0;
        }
        h2{
            margin-bottom: 20px;
            padding-top: 15px;
            text-align: center;
            @media (max-width: $mobile){
                text-align: left;
            }
        }
    }
    .hero_text{
        padding-left: 40px;
    }
    .hero_img{
        border-radius: 8px;
        width: 50%;
        @media (max-width: $mobile){
            width: 100%;
        }
        img{
            max-width: 100%;
            width: 100%
        }
    }
}

.article_wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color:#000;
    .article_item{
        transition: .7s all;
        padding: 0 15px 25px;
        width: calc(100% / 4);
        @media (max-width: $tablet){
            width: calc(100% / 3);
        }
        @media (max-width: $mobile){
            width: 100%;
        }
        h3{
            padding: 15px 0;
            text-align: center;
        }
        p{
            font-size: 20px;
        }
        .article_img_placeholder{
            width: 100%;
            border-radius: 8px;
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        &:hover{
            h3{
                text-decoration: underline;
                color: blue;            
            }
        }
    }
}

.main-container{
    margin-top: 25px;
}
